<div class="flex items-center bg-white w-full max-w-[800px] rounded-[12px] p-[16px] gap-[12px]">
    <div class="flex-1">
    <label for="subject" class="text-blue-500 text-[16px] font-[600] mb-[8px]">SUBJECT</label>
    <select id="subject" class="text-black w-full border-solid border-2 border-blue-700 rounded-[8px] pl-[12px] pr-[32px] py-[8px] cursor-pointer focus:outline-none focus:border-blue-500">
        <option value="">Choose a subject to get started</option>
        <option value="math">Math</option>
        <option value="cs">Computer Science</option>
        <option value="biology">Biology</option>
        <option value="history">History</option>
    </select>
    </div>
    <div class="flex-1">
    <label for="type" class="text-gray-500 text-[16px] font-[600] mb-[8px]">TYPE</label>
    <select id="type" class="text-black w-full border-solid border-2 border-black rounded-[8px] pl-[12px] pr-[32px] py-[8px] cursor-pointer focus:outline-none focus:border-blue-500">
        <option value="">Any type</option>
        <option value="tool">Tool</option>
        <option value="course">Course</option>
        <option value="video">Video</option>
        <option value="worksheet">Worksheet</option>
    </select>
    </div>
    <div class="flex-1">
    <label for="price" class="text-gray-500 text-[16px] font-[600] mb-[8px]">PRICE</label>
    <select id="price" class="text-black w-full border-solid border-2 border-black rounded-[8px] pl-[12px] pr-[32px] py-[8px] cursor-pointer focus:outline-none focus:border-blue-600">
        <option value="">Any</option>
        <option value="free">Free</option>
        <option value="paid">Paid</option>
        <option value="freemium">Freemium</option>
    </select>
    </div>
    <div class="w-1 bg-gray-300 h-full rounded-xl"></div>
    <button (click)="onSearch()" class="bg-blue-600 font-[600] px-[32px] py-[8px] rounded-[8px] cursor-pointer search-btn hover:bg-blue-500" id="searchBtn">Search</button>
</div>