.nav-link {
    transition: all 0.3s ease;

}
.search-bar:focus {
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.warning {
  opacity: 1;
  transform: translateY(10px);
  transition: all 0.4s ease-out;
  
  &.fade-out {
    opacity: 0;
    transform: translateY(-20px);
  }
}