resourcia-webapp/environment.local.ts
.env
**/.env
node_modules/
**/node_modules/

**/.containers/

# Visual Studio / Rider
.vs/
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.pdb
**/*.dll
**/*.exe
**/*.cache
**/*.db
**/*.json # optional if just config backups

/docs

**/bin/
**/obj/
secrets.txt
appsettings.*.json

# Allow example config templates to be committed
!.env.example
!ResourciaBackend/src/Resourcia.Api/appsettings.example.json
!ResourciaBackend/src/Resourcia.Api/appsettings.Development.example.json

# Playwright
playwright-report/
test-results/
