.cover {
    opacity: 0;
    z-index: -1;
    transition: opacity 0.4s ease-in;

    &.success {
        opacity: 0.7;
        z-index: 1;
    }
}

.pop-up {
    opacity: 0;
    z-index: -1;
    transform: translateY(500px);
    transition: transform 0.4s ease-in;

    &.success{
        opacity: 1;
        z-index: 2;
        transform: translateY(0px);
    }
}

.fa-envelope {
    color: white;
}