<div class="flex w-full h-150 ">
  <img class="grayscale brightness-40 h-full w-1/2 object-cover" src="./img/authbanner.jpg" alt="registration banner">
  <div class="flex flex-col w-1/2 h-full items-center justify-center text-center">
    <h1 class="text-4xl md:text-5xl font-bold m-3">Sign Up</h1>
    <form class="w-2/3 flex flex-col justify-center items-center" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col w-fit max-w-240 relative">
        @let username = form.get('displayName');
        <label for="username" class="text-xs font-bold text-blue-400 bg-gray-100 relative top-2 ml-2 px-1 w-fit"
        [class.text-red-500]="(username?.touched && username?.invalid) || usernameInUse"
        >Username:</label>
        <input type="text" placeholder="Write here..." name="username" formControlName="displayName" class="p-[11px_10px] w-70 text-xs border-2 border-blue-400 rounded bg-gray-100 text-gray-400 focus:outline-none"
        [class.border-red-500]="(username?.touched && username?.invalid) || usernameInUse">

        @if (username?.touched && username?.invalid) {
          <div class="w-70 text-left text-xs text-red-700">Username is required.</div>
          @if (username?.errors?.['required']) {
            <!--NO need to put the error texts here, if there aren't any other errors-->
          }
        }

        @if (usernameInUse) {
          <div class="w-70 text-left text-xs text-red-700">Username is already in use.</div>
        }

      </div>
      <div class="flex flex-col w-fit max-w-240 relative">
        @let email = form.get('email');
        <label for="email" class="text-xs font-bold text-blue-400 bg-gray-100 relative top-2 ml-2 px-1 w-fit"
        [class.text-red-500]="(email?.touched && email?.invalid) || emailInUse">Email:</label>
        <input type="email" placeholder="Write here..." name="email" formControlName="email" class="p-[11px_10px] w-70 text-xs border-2 rounded bg-gray-100 text-gray-400 border-blue-400 focus:outline-none"
        [class.border-red-500]="(email?.touched && email?.invalid) || emailInUse">

        @if (email?.touched && email?.invalid) {
          @if (email?.errors?.['required']) {
            <div class="w-70 text-left text-xs text-red-700">Email is required.</div>
          }
          @if (email?.errors?.['invalidEmail']) {
            <div class="w-70 text-left text-xs text-red-700">Please enter a valid email.</div>
          }
        }

        @if (emailInUse) {
          <div class="w-70 text-left text-xs text-red-700">Email is already in use.</div>
        }
      </div>
      <div class="flex flex-col w-fit max-w-240 relative">
        @let password = form.get('password');
        <label for="password" class="text-xs font-bold text-blue-400 bg-gray-100 relative top-2 ml-2 px-1 w-fit"
        [class.text-red-500]="password?.touched && password?.invalid"
        >Password:</label>
        <input type="password" placeholder="Write here..." name="password" 
        formControlName="password"
        class="p-[11px_10px] w-70 text-xs border-2 border-blue-400 rounded bg-gray-100 text-gray-400 focus:outline-none"
        [class.border-red-500]="password?.touched && password?.invalid">

        @if (password?.touched && password?.invalid) {
          @if (password?.errors?.['required']) {
            <div class="w-70 text-left text-xs text-red-700">Password is required.</div>
          }
          @if (password?.errors?.['passwordStrength'] || password?.errors?.['minlength'] || password?.errors?.['maxlength']) {
            <div class="w-70 text-left text-xs text-red-700">Password must be between 8-32 characters long contain a capital character, a digit and a special character.</div>
          }
        }
      </div>
      <div class="flex flex-col w-fit max-w-240 relative">
        @let confirmPassword = form.get('confirmPassword');
        <label for="confirm" class="text-xs font-bold text-blue-400 bg-gray-100 relative top-2 ml-2 px-1 w-fit"
        [class.text-red-500]="confirmPassword?.touched && (confirmPassword?.invalid || form.invalid)">Confirm password:</label>
        <input type="password" placeholder="Write here..." name="confirm" 
        formControlName="confirmPassword"
        class="p-[11px_10px] w-70 text-xs border-2 border-blue-400 rounded bg-gray-100 text-gray-400 focus:outline-none"
        [class.border-red-500]="confirmPassword?.touched && (confirmPassword?.invalid || form.invalid)">
        
        @if (confirmPassword?.touched){
          @if (confirmPassword?.invalid) {
            <div class="w-70 text-left text-xs text-red-700">Confirm password is required.</div>
          }
          @else if (form.errors?.['passwordMismatch']) {
            <div class="w-70 text-left text-xs text-red-700">Passwords must match.</div>
          }
        }
      </div>
      <div id="turnstile-container" class="flex flex-col w-fit max-w-240 relative mt-2">
      </div>
      @if (generalError) {
        <div class="w-70 text-left text-xs text-red-700">Something went wrong, please try again.</div>
      }
      <div class="w-70 max-w-240 border-2 border-blue-400 rounded"
      [class.border-gray-400]="isSubmitting">
        @if (!isSubmitting){
          <button class="w-full py-2 text-sm font-bold text-white bg-blue-500 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 transition" type="submit">Join Us</button>
        }
        @else{
          <button class="w-full py-2 text-sm font-bold text-white bg-gray-500 rounded hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400 transition" type="submit">Submitting...</button>
        }
      </div>
  </form>
    <div class="text-left text-xs w-70">
      By signing up you agree with our <a routerLink="/tos" class="text-blue-600">Terms of Service</a> and <a routerLink="/privacy-policy" class="text-blue-600">Privacy Policy</a>.
    </div>
  </div>
</div>

<div id="cover" class="cover fixed top-0 left-0 bg-black w-screen h-screen flex items-center justify-center">
</div>
<div id="pop-up" class="pop-up fixed top-0 left-0 w-screen h-screen flex items-center justify-center">  
  <div class="fixed bg-gray-100 opacity-100 rounded-xl p-4 flex flex-col items-center justify-center">
    <div class="bg-blue-600 rounded-full p-5">
      <i class="fa-regular fa-envelope fa-4x"></i>
    </div>
    <h2 class="text-3xl font-semibold mt-2 mb-2">Check your email!</h2>
    <p class="text-gray-600 mb-5">We've sent a confirmation link to <span class="font-semibold text-blue-600">{{form.getRawValue().email}}</span>.</p>
    <!--"Divider"-->
    <div class="flex flex-col items-center justify-center w-full">
      <div class="border-t border-gray-300 px-6 py-4 text-sm text-gray-500">
      Didn't receive the email? Check your spam folder or try again.
      </div>
      <button (click)="resendEmail()" [disabled]="isCooldown" id="resend-button" class="resend-button w-9/10 py-3 bg-blue-500 border border-blue-300 text-white font-medium rounded-lg hover:bg-blue-600 transition"
      [class.bg-gray-500] = "isCooldown"
      [class.border-gray-300] = "isCooldown"
      [class.hover:bg-gray-600] = "isCooldown">
        {{resendButtonText}}
      </button>
    </div>
  </div>
</div>


