<div class="max-w-[900px] mx-auto my-[16px]">
    <div class="mb-[48px] border-b-[2px] border-solid border-blue-500">
        <h1 class="mb-[8px] text-[40px] font-bold text-blue-600">R.Student</h1>
        <p class="pb-[32px] max-w-1/2 text-[18px] text-gray-600">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis p</p>
    </div>
    <div class="section">
        <h2 class="mb-[24px] text-[20px] font-bold text-blue-600">Statistics</h2>
        <div class="mb-[24px] gap-4 flex justify-between text-center">
            <div class="stat-item bg-gray-300 flex-1 px-[24px] py-[16px] rounded-[8px]">
                <div class="stat-number text-blue-600 text-[36px] font-bold">24</div>
                <div class="stat-label tracking-[0.5px] uppercase">Resources Shared</div>
            </div>
            <div class="stat-item bg-gray-300 flex-1 px-[24px] py-[16px] rounded-[8px]">
                <div class="stat-number text-blue-600 text-[36px] font-bold">58</div>
                <div class="stat-label tracking-[0.5px] uppercase">Comments</div>
            </div>
            <div class="stat-item bg-gray-300 flex-1 px-[24px] py-[16px] rounded-[8px]">
                <div class="stat-number text-blue-600 text-[36px] font-bold">3</div>
                <div class="stat-label tracking-[0.5px] uppercase">Study Groups</div>
            </div>
        </div>
    </div>
</div>