@if (user == null){
    <!-- Sign Up Button -->
    <a routerLink="/signup"><button class="nav-link hidden md:inline-block px-4 py-2 text-blue-600 font-medium rounded-full hover:bg-blue-50 cursor-pointer">
        Sign Up
    </button></a>
    
    <!-- Login Button -->
    <a routerLink="/login"><button class="nav-link hidden md:inline-block px-4 py-2 text-gray-700 font-medium rounded-full hover:bg-gray-100 cursor-pointer">
        Log In
    </button></a>
}
@else {
    <div class="hidden md:flex items-center space-x-2 relative flex items-center justify-center">
        <app-dropdown [items]="userMenuItems">
            <button dropdown-button class="nav-link flex items-center text-gray-700 hover:text-blue-600">
                <span>{{user.name}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
            </button>
        </app-dropdown>

    </div>
}