<div id="warning" class="warning bg-yellow-100 rounded-full border border-gray-300 p-4 z-2 fixed flex items-center justify-between w-9/10 min-w-150 left-1/2 -translate-x-1/2 ">
    <span>Website is in early testing, please be patient!</span>
    <button class="hover:cursor-pointer" aria-label="Close" (click)="closeWarning()">
        <svg xmlns="http://www.w3.org/2000/svg" 
            fill="none" viewBox="0 0 24 24" 
            stroke-width="2" stroke="currentColor" 
            class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
</div>