<label for="menu1">Select option 1:</label>
  <select id="menu1" name="menu1">
    <option value="option0"></option>
    <option value="option1a">Math</option>
    <option value="option1b">Physics</option>
    <option value="option1c">Chemistry</option>
  </select>
  <br>
  <label for="menu2">Select option 2:</label>
  <select id="menu2" name="menu2">
    <option value="option0"></option>
    <option value="option2a">Option 2A</option>
    <option value="option2b">Option 2B</option>
    <option value="option2c">Option 2C</option>
  </select>
  <br>
  <button onclick="handleEnter()">Enter</button>

<router-outlet />