<div #chapter class="chapter relative py-[100px] px-[24px]">
    <div class="chapter-inner max-w-[800px] my-0 mx-auto text-left">
        <div class="mb-[18px] text-gray-400 text-[12px] font-[700]  uppercase tracking-[0.15em]"><span class="text-blue-500">01</span> - The Problem</div>
        <h2 class="chapter-heading mb-[24px] text-gray-600 font-[700] tracking-[-0.025em] leading-[1.18]">The internet is full of options.<br><em class="italic font-[400]">But not enough answers.</em></h2>
        <p class="m-w-[65ch] text-[18px] leading-[1.75] text-gray-700">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias iste perferendis, nemo unde quas, tempora dignissimos deserunt officiis esse exercitationem, reprehenderit laudantium dolor quisquam! Qui distinctio dicta doloribus delectus alias!
        </p>
    </div>
</div>